@model IEnumerable<DataAccess.DTOs.JournalTypesDto>
@using FinancialAccounting.Enums
@using Resources.Resources

@{
    ViewBag.Title = @Language.JournalTypes;
}

<div style="background-color:white;padding:20px;">
    @Html.ActionLink(Language.CreateNew, "Form", new { FormType = (int)FormType.New }, new { @class = "btn btn-info" })

    <table id="JournalTypes" class="table table-striped table-bordered text-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArabicName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnglishName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDefault)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArabicName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnglishName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDefault)
                    </td>
                    <td>
                        @Html.ActionLink(Language.Details, "Form", new { id = item.Id, FormType = (int)FormType.Details }, new { @class = "btn btn-light" })
                        @Html.ActionLink(Language.Edit, "Form", new { id = item.Id, FormType = (int)FormType.Edit }, new { @class = "btn btn-success" })
                        @Html.ActionLink(Language.Delete, "Form", new { id = item.Id, FormType = (int)FormType.Delete }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>

@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.cookie.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#JournalTypes').DataTable({
                responsive: true,
                paging: true,
                pageLength: 5,
                bSort: true,
                bFilter: true,
                lengthMenu: [[5, 10, 25, -1], [5, 10, 25, '@Language.All']],
                language: {
                    search: "@Language.Search",
                    paginate: {
                        previous: "@Language.Previous",
                        next: "@Language.Next",
                    },
                    @*info: "@Language.DataTableInfo",*@
                    lengthMenu: "@Language.DatatableLengthMenu",
                    zeroRecords: "@Language.No_matching_records_found",
                    loadingRecords: "@Language.Loading"
                }
            });
        });
    </script>
}